@font-face{
    font-family: 'Muller', sans-serif;
    src: url('../fonts/MullerMedium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
   
}
@font-face{
    font-family: 'Muller', sans-serif;
    src: url('../fonts/MullerRegular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Muller', sans-serif;
    src: url('../fonts/MullerBold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
   
}
@font-face{
    font-family: 'Muller', sans-serif;
    src: url('../fonts/MullerExtraBold.otf') format('otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
   
}