@media (max-width:1700px) {
    .top__section-avto__img {
        margin-right: -100px;
        width: 140%;
        height: auto;
    }
    .top__section-invitation {
        bottom: 225px;
        right: 181px;
    }
}

@media (max-width:1500px) {
    .top__section-avto__img {
        margin-right: -460px;
        width: 150%;
        margin-left: -100px;
        margin-top: 20px;
    }
    .top__section-title {
        width: auto;
    }
   
.top__section-invitation {
    bottom: 300px;
    right: 72px;
}
}
@media (max-width:1420px) {
    .about{
        background-position: right -50px;
        width: 100%;
        height: auto;
    }
    .conditions__wrapper{
        background-size: 250px;
    }
}
@media (max-width:1350px) {
    .top__section-invitation {
        padding: 5px 27px 3px 15px;
    }
    .top__section-avto__img {
        margin-right: -311px;
        width: 150%;
        margin-left: -166px;
}
.ford__img{
    width: 70%;
    height: auto;
}
.check__title{
    margin-top: 180px;
}
.check__items{
    justify-content: center;
}
.advantages__info-img {
    left: -35px;
    top: -190px;
}
.advantages__block-1 {
    padding: 14px 13px 60px 20px;
    font-size: 16px;
    line-height: 25px;
    margin-top: 143px;
    margin-left: 274px;
}
.advantages__block-2 {
    padding: 20px 37px 20px 55px;
    min-width: 681px;
    max-height: 234px;
 
    font-size: 28px;
    line-height: 35px;
   
    left: -711px;
    top: 255px;
}

.map__block{
    width: 100%;
    height: auto;
    img{
        width: 100%;
        height: auto;
    }
}

}
@media (max-width:1300px) {
   .about{
    background-image: none !important;
}
}
@media (max-width:1250px) {
 
.conditions__wrapper{
    background-size: 200px;
}
.advantages__items {
    justify-content: center;
}
.advantages__block-1 {
  
    margin-top: 191px;
    margin-left: 158px;
}
.advantages__info-img {
    left: 17px;
    top: -159px;
}
.advantages__block-2 {
    padding: 20px 37px 20px 55px;
    min-width: 650px;
 
    left: -800px;
    top: 314px;
}
.privelege__go-number {
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 50px;
   
}
.privelege__go-links {
    display: flex;
    margin-left: 95px;
    flex-wrap: wrap;
}
.privelege__go-map {
 
    margin-left: 172px;

}
.privelege__go-suptitle {
    font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    margin-right: 000px;
}
}
@media (max-width:1180px) {
    .benefits__title {
        font-size: 33px;
        line-height: 45px;
    }
    .benefits__item-title {
        font-size: 19px;
        line-height: 24px;
    }
    .benefits__item-text {
        font-size: 15px;
        line-height: 20px;
    }
    .benefits__title-2 {
        font-size: 33px;
        line-height: 45px;
    }
    .benefits__item-title-2 {
        font-size: 19px;
        line-height: 24px;
    }
    .benefits__item-text-2 {
        font-size: 15px;
        line-height: 20px;
    }
    .ford__img {
        margin-top: -210px;
    }
    .conditions__wrapper{
        background-size: 150px;
    }
    .footer__inner{
        flex-wrap: wrap;
       justify-content: center;
    }
    .footer__logo-img{
        width: 100%;
        max-width: 996px;
    }
    .footer__contacts {
       margin-left: 50px;
       text-align: center;
    }
    .footer__adress{
        text-align: center;
    }
    .footer__map{
        text-align: center;
        margin-right: 50px;
    }

}
@media (max-width:1135px) {
    .top__section-avto__img {
        margin-right: -311px;
        width: 140%;
        margin-left: -140px;
        margin-top: 50px;
    }
    .top__section-title {
        font-size: 43px;
        line-height: 65px;
       
        max-width: 709px;
       
    }
    .top__section-text {
        font-size: 16px;
        line-height: 30px;
        
    }
    .conditions__wrapper{
        background-size: 100px;
    }
    .advantages__info-img {
        left: 51px;
        top: -94px;
        width: 200%;
        height: auto;
    }
    .advantages__block-1{
    margin-top: 197px;
    margin-left: 213px;
    padding: 14px 13px 60px 20px;
    font-size: 15px;
    line-height: 22px;
    max-width: 620px;
}
.advantages__block-2 {
    padding: 15px 20px 15px 20px;
    min-width: 572px;
    left: -271px;
    top: 349px;
    font-size: 25px;
    line-height: 30px;
    max-height: 190px;
    &::before{
        display: none;
    }
}
.advantages__info {
    padding-bottom: 55px;
}
}





@media (max-height:750px) {
    .top__section-invitation {
        bottom: 80px;
        right: 72px;
    }
}
@media (max-width: 1027px){
    .top__section-invitation {
        bottom: 736px;
        right: 72px;
    }
    }

@media (max-width:1015px) {
    .top__section-avto__img{
    width: 110%;
    margin-left: -15px;
    margin-top: 20px;
}

.top__section-invitation {
        position: static;
        margin-bottom: 50px;
        margin-top: -50px;
        padding: 8px 40px 3px 28px;
}
.menu__btn{
    display: block;
    position: absolute;
    z-index: 6;
    transition: all .5s;
    
    &--active{
        left: 230px;
        .menu__btn-line-2{
            opacity:0
        }
        .menu__btn-line-1{
        transform: rotate(-45deg);
        top: 30px;
        position: absolute;
        }
        .menu__btn-line-3{
            transform: rotate(45deg);
        }
    }
}

.menu__list{
    transform: translateX(-200%);
    display: block;
    background-color: #E5E5E5;
    position: absolute;
    border-radius: 0 20px 20px 0;
    top: 85px;
    left: 0;
    padding: 35px;
    z-index: 5;
    transition: all .5s;
    &-link{
        text-align: left;
        margin-bottom: 25px;
       
    }
    &--active{
        transform: translateX(0%);
    }
}
.top__section-avto__img {
    width: 100%;
    margin-left: 30px;
    
}
.top__section-invitation-text {
    font-size: 16px;
    line-height: 20px;
}
.top__section-invitation {
    bottom: 197px;
}
.top__section-navigation {
  
    margin-bottom: 30px;
}
.top__section-title {
    font-size: 36px;
    line-height: 50px;
    
}
.advantages__info {
    padding-bottom: 100px;
}
}

@media (max-width:965px) {
    .benefits__items{
       flex-wrap: wrap;
    }
    .benefits__item-text {
        font-size: 22px;
        line-height: 27px;
    }
    .benefits__item-title {
        font-size: 25px;
        line-height: 30px;
    }
    .benefits__items-2{
        flex-wrap: wrap;
     }

     .benefits__item-2{
         margin-bottom: 20px;
     }
     .benefits__item-text-2 {
        font-size: 22px;
        line-height: 27px;
    }
    .benefits__item-title-2 {
        font-size: 25px;
        line-height: 30px;
    }
     .ford__img {
        margin-top: 800px;
    }
    .check__title {
        
        font-size: 30px;
        line-height: 37px;
       
    }
    .advantages__block-1 {
        margin-top: 120px;
    }
    .advantages__block-2 {
        padding: 15px 20px 15px 20px;
        
        left: -108px;
        top: 270px;
    }
    .advantages__title {
        font-size: 35px;
        line-height: 42px;
        padding-top: 97px;
        
    }
    .privelege__title {
        padding-top: 50px;
        font-size: 34px;
        line-height: 42px;
        
    }
    .privelege__avto-img {
        width: 100%;
        height: auto;
    }
    .privelege__go-map {
        margin-left: 172px;
        margin-bottom: 50px;
    }
}

@media (max-width:900px) {
    .top__section-avto__img {
        width: 90%;
        margin-left: 66px;
        margin-top: 0px;
    }
    .top__section-invitation-text {
        font-size: 14px;
        line-height: 18px;
    }
    .top__section-invitation-title{
        font-size: 14px;
        line-height: 18px;
    }
    .top__section-title {
        font-size: 28px;
        line-height: 40px;
        padding: 10px 20px 25px 0;
    }
    .advantages__info-img {
        left: 85px;
        top: -69px;
        width: 200%;
    }
    .advantages__block-1 {
        margin-top: 130px;
        margin-left: 169px;
        padding: 10px 13px 46px 20px;
        font-size: 13px;
        line-height: 22px;
        max-width: 550px;
    }
    .advantages__block-2 {
        padding: 15px 20px 15px 20px;
        min-width: 515px;
        left: -152px;
        top: 274px;
        font-size: 20px;
        line-height: 30px;
        max-height: 150px;
    }
}

@media (max-width:830px) {
    .advantages__block-1 {
        margin-left: 90px;
}
.advantages__block-2 {
    left: -157px;
}
.advantages__info {
    padding-bottom: 193px;
}
.privelege__go-title {
    font-weight: 900;
    font-size: 43px;
    line-height: 56px;
    padding-top: 49px;
    margin-right: 90px;
}
.privelege__go-suptitle {
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
}
.privelege__go-adress {
    font-size: 20px;
    line-height: 26px;
   
}
}
@media (max-width:750px) {
    .ford__img {
        margin-top: 850px;
    }
    .conditions__title {
        font-size: 27px;
        line-height: 38px;
        padding-top: 49px;
    }
    .conditions__suptitle {
        font-size: 20px;
        line-height: 26px;
       
    }
    .conditions__list-item {
        font-size: 14px;
        line-height: 18px;
}
.advantages__info-img {
    left: 60px;
    top: -80px;
}
.advantages__block-1 {
    margin-top: 98px;
    margin-left: 103px;
    padding: 10px 13px 40px 20px;
    max-width: 494px;
}
.advantages__block-2 {
    padding: 15px 20px 15px 20px;
    min-width: 425px;
    left: -138px;
    top: 240px;
    font-size: 18px;
    line-height: 30px;
    max-height: 150px;
}
.privelege__go-title {
    font-weight: 900;
    font-size: 43px;
    line-height: 56px;
    padding-top: 49px;
    margin-right: 10px;
}
.privelege__go-adress {
    margin-top: 50px;
    padding: 15px 14px;
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    max-width: 435px;
}
.privelege__go-number {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
}
.rivelege__go-number::before {
    top: 27%;
}
}
@media (max-width:705px) {
.top__section-inner{
    flex-wrap: wrap;
}

.benefits__title {
    font-size: 27px;
    line-height: 35px;
  padding: 45px 0;
}
.benefits__title-2 {
    font-size: 27px;
    line-height: 35px;
}
.benefits__item {
    margin: 0px 15px 60px 15px;
}
.benefits__item-2 {
    padding: 35px 0 30px 38px;
    
}
.about__title {
    font-size: 25px;
    line-height: 32px;
}
.about__suptitle {
    font-size: 25px;
    line-height: 32px;
}
.about__items-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 39px;
}
.about__item {
    font-size: 16px;
    line-height: 20px;
}

.advantages__info-img {
    left: 60px;
    top: -20px;
}
.advantages__block-1 {
    margin-top: 150px;
    margin-left: 54px;

}
.advantages__block-2 {
    padding: 15px 20px 15px 20px;
    min-width: 425px;
    left: -138px;
    top: 295px;
}
.advantages__info {
    padding-bottom: 290px;
}
}
@media (max-width:670px) {
    .ford__img {
        margin-top: 920px;
    }
}
@media (max-width:650px) {
.logo__img {
    margin-top: 20px;
    max-width: 150px;
}
.header__top-text {
    margin-top: 25px;
    font-size: 13px;
    line-height: 16px;
    
}
.header__top-phone {
    font-size: 14px;
    line-height: 18px;
    
}
.header__top-right {
    margin-top: 15px;
}
.advantages__info-img {
    left: 100px;
    top: -20px;
}
.advantages__block-2 {
    left: -83px;
  
}
.privelege__go-title {
    font-size: 41px;
    line-height: 48px;
    margin-right: 10px;
}
.privelege__go-suptitle {
    font-size: 20px;
    line-height: 25px;
}
.privelege__go-adress {
    margin-top: 40px;
    padding: 15px 14px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    max-width: 400px;
}
.privelege__go-links {
    margin-left: 60px;
}
.privelege__item {
    margin: 16px;
    background-color: #fff;
    padding: 100px 25px 18px 25px;
    max-width: 470px;
    width: 100%;
}
.privelege__item-title {
    font-weight: 900;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
}
.privelege__item-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
}
}

@media (max-width:600px) {
.ford__img {
    margin-top: 1000px;
}
.about__items {
    padding: 30px 
}
.advantages__block-1 {
   margin-left: 33px;
    padding: 10px 13px 30px 20px;
    max-width: 440px;
}
.advantages__block-2 {
    padding: 20px 20px 15px 20px;
    min-width: 365px;
    left: -138px;
    top: 312px;
    left: -110px;
    font-size: 16px;
    line-height: 22px;
    max-height: 135px;
}
.privelege__go-title {
    font-size: 37px;
    line-height: 45px;
   
}
.privelege__go-suptitle {
    font-size: 18px;
    line-height: 23px;
}
.privelege__title {
    font-size: 25px;
    line-height: 32px;
}

}

@media (max-width:550px) {
    .top__section-invitation {
        
        padding: 5px 10px 3px 10px;
    }
    .logo__img {
        margin-top: 30px;
        max-width: 100px;
    }
    .top__section-invitation-text {
        font-size: 11px;
        line-height: 15px;
    }
    .top__section__invitation-title {
        font-size: 11px;
        line-height: 15px;
    }
    .header__top-text {
        margin-top: 30px;
        font-size: 10px;
        line-height: 14px;
    }
    .header__top-phone {
        font-size: 10px;
        line-height: 13px;
    }
    .header__top-email {
        font-size: 10px;
    }
    .top__section-avto__img {
        width: 100%;
        margin-left: 20px;
    }
  
    .menu__list--active {
        top: 89px;
    }
    .benefits__item-title {
    font-size: 20px;
    line-height: 30px;
}
.benefits__item-title-2 {
    font-size: 20px;
    line-height: 30px;
}
.benefits__item-text {
    font-size: 18px;
    line-height: 23px;
}
.benefits__item-text-2 {
    font-size: 18px;
    line-height: 23px;
}
.check__title {
    margin-top: 200px;
    font-size: 27px;
    line-height: 33px;
}
.check__suptitle {
    font-size: 14px;
    line-height: 21px;
    
    margin-bottom: 50px;
}
.advantages__block-1 {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 13px 30px 20px;
    max-width: 440px;
}

    .advantages__block-2 {
    left: -80px;
    font-size: 16px;
    line-height: 22px;
    max-height: 135px;
    margin-left: -50px;
}
.privelege__avto-img {
    display: none;
}
}

@media (max-width:530px) { 
    .check__title {
        margin-top: 100px;
       
    }
    .conditions__list {
        margin: 0px 35px;
        padding-left: 15px;
        max-width: 1000px;
        padding-bottom: 90px;
    }
    .conditions__title {
        font-size: 21px;
        line-height: 26px;
        padding-top: 50px;
    }
    .conditions__suptitle {
        font-size: 16px;
        line-height: 21px;
    }

    .advantages__info {
        padding-bottom: 351px;
    }
    .advantages__block-1 {
        margin-left: 105px;
        margin-right: 20px;
        padding: 10px 13px 30px 20px;
        max-width: 300px;
        font-size: 10px;
        line-height: 18px;
        margin-top: 110px;
    }
        
        .advantages__block-2 {
            font-size: 14px;
    line-height: 20px;
    max-height: 135px;
    margin-left: -10px;
    min-width: 268px;
    left: -95px;
    top: 261px;
        }
        .advantages__info-img {
            left: 30px;
            top: -50px;
        }
        .advantages__info {
            padding-bottom: 200px;
        }
}
@media (max-width:470px) {
  
    .check__title {
        margin-top: 50px;
       
    }
    .check__item {
        padding: 50px 20px 40px 20px;
        font-size: 14px;
        line-height: 20px;
}
.about__title {
    font-size: 18px;
    line-height: 22px;
}
.about__suptitle {
    font-size: 18px;
    line-height: 22px;
}
.advantages__block-1 {
    margin-left: 43px;

}
.advantages__info {
    padding-bottom: 280px;
}
.advantages__title {
    font-size: 25px;
    line-height: 33px;
}
}
@media (max-width:465px) {
.header__top-text {
    max-width: 92px;
}
.logo__img {
    margin-right: 15px;
    margin-top: 35px;
    max-width: 77px;
}
.top__section-invitation-text {
    font-size: 9px;
    line-height: 15px;
}
.top__section__invitation-title {
    font-size: 9px;
    line-height: 15px;
}
.top__section-title {
    font-size: 24px;
    line-height: 30px;
}
.top__section-invitation {
    bottom: -35px;
}
.check__title {
    margin-top: 50px;

}
.privelege__go-number {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
    margin-left: 35px;
}
.privelege__go-adress {
    font-size: 18px;
    max-width: 345px;
}
.privelege__go-title {
    font-size: 27px;
    line-height: 34px;
}
.privelege__go-suptitle {
    font-size: 16px;
    line-height: 21px;
}
.privelege__go-links {
    margin-left: -6px;
}
.footer__inner {
    text-align: center;
    margin: 0 auto;
}
.footer__items-1 {
    padding-right: 50px;

}
}
@media (max-width:410px) {
    .benefits__title {
        font-size: 22px;
        line-height: 27px;
        padding: 28px 0;
    }
    .benefits__title-2 {
        font-size: 22px;
        line-height: 27px;
        
    }
    .benefits__item-title {
        font-size: 16px;
        line-height: 22px;
    }
    .benefits__item-title-2 {
        font-size: 16px;
        line-height: 22px;
    }
    .benefits__item-text {
        font-size: 14px;
        line-height: 20px;
    }
    .benefits__item-text-2 {
        font-size: 14px;
        line-height: 20px;
    }
    .ford__img {
        margin-top: 684px;
    }
    .about__items-title {
        font-size: 18px;
        line-height: 22px;
    }
    .about__item span {
        color: #1C1B18;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
    }
    .about__items {
        
        border: 8px solid #EB2629;
}
.advantages__info-img {
    left: 40px;
    top:-20px;
}
.advantages__block-2 {
    margin-left: -57px;
    min-width: 268px;
    left: -32px;
    top: 261px;
    padding: 10px;
    max-height: 110px;
}
.privelege__go-adress {
    font-size: 15px;
    max-width: 345px;
    margin-top: 40px;
    padding: 10px;
    max-width: 300px;
}
.privelege__go-number {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 50px;
    margin-left: 22px;
}
.privelege__item {
    margin: 16px;
    background-color: #fff;
    padding: 100px 10px 10px 10px;
    max-width: 470px;
    width: 100%;
}
.privelege__item-title {
    font-size: 15px;
    line-height: 19px;
}
.privelege__item-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}
.privelege__item-1::before {
    left: 35%;
}
.privelege__item-2::before {
    left: 37%;
}
.privelege__item-3::before {
    left: 35%;
}
.privelege__item-4::before {
    left: 35%;
}


}
@media (max-width:400px) {
    .advantages__item::before {
        background-size: 150px;
    }
    .advantages__item:nth-child(3)::before {
        top: 4px;
        left: 8%;
    }
    .advantages__item:nth-child(4)::before {
        top: -20px;
        left: 28%;
    }
    .advantages__item:nth-child(5)::before {
        top: 21px;
        left: 10%;
    }
    .footer__items-1 {
        padding-right: 0px;
        width: 100%;
    
    }
}
@media (max-width:380px) {
    .advantages__item-title {
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 20px;
    }
    .advantages__item-text {
        font-size: 14px;
        line-height: 20px;
    }
    .advantages__item {
        max-width: 370px;
        padding: 145px 10px 21px 10px;
        margin: 0 20px 70px 15px;
    }
    .conditions__title {
        font-size: 18px;
        line-height: 22px;
    }
    .conditions__suptitle {
        font-size: 14px;
        line-height: 21px;
    }
    .advantages__title {
        font-size: 19px;
        line-height: 24px;
    }
    .privelege__title {
        font-size: 21px;
        line-height: 25px;
    }
   
    .footer__inner {
      
        margin-left: -38px;
    }
}
@media (max-width:353px) {
    .ford__img {
        margin-top: 830px;
    }
    .benefits {
        padding-bottom: 195px;
    }
    .advantages__block-1 {
        margin-left: 20px;
    }
    .advantages__block-2 {
        margin-left: -90px;
        min-width: 241px;
        left: -25px;
        top: 271px;
      
    }
    .advantages__info-img {
        left: 5px;
    }
    .privelege__go-title {
        font-size: 24px;
        line-height: 31px;
    }
    .privelege__go-map {
        margin-left: 140px;
        margin-bottom: 50px;
    }
    .privelege__go-adress {
        font-size: 14px;
        max-width: 263px;
    }
    .privelege__go-number {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 50px;
        margin-left: 6px;
    }
    .header__top-text {
        max-width: 91px;
    }
   
}

